@import url('https://fonts.googleapis.com/css2?family=Gudea:wght@700&family=Heebo:wght@300&family=Josefin+Sans&family=Kaushan+Script&family=Lato:wght@700&family=Murecho:wght@200&family=Padauk&display=swap');

body {background-color: tan;}

#cityscape {text-justify: center;
            grid-template-columns: 200px 0;
            grid-row: 3/4;}

h1, h2 {text-align: center;
        font-family: "Gudea", "Heebo", "Kaushan", "sans-serif";}